/* グローバルスタイル */
:global {
    body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

    code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
}

/* コンポーネント固有のスタイル */
.container {
    margin: 0 24px 24px 24px;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.description {
    color: #666;
    font-size: 0.875rem;
    margin: 1rem 0;
    padding-left: 1.5rem;
    list-style-type: disc;
}

.description li {
    margin-bottom: 0.5rem;
}
.playerControl {
    margin-bottom: 20px;
}

.playerInput {
    width: 50px;
    margin: 0 8px;
}

.playerBoards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
